@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&display=swap');

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img1 {
    margin-right: 10px;
}

.img1, .img2 {
    height: 1000px;
    width: 47vw;
    min-width: 300px;
    object-fit: cover;
}

@media only screen and (max-width: 610px) {
    .img1, .img2 {
        height: 400px;
        width: 94.5vw;
        margin: 0;
    }

    .img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.img3 {
    height: 730px;
    width: 94.5vw;
    object-fit: cover;
    margin-top: 30px;
}

.advantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.advantages>div>img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-bottom: 30px;
}

.advantages>div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
    width: 330px;
    text-align: center;
}

.home>a {
    margin-bottom: 40px;
    text-decoration: none;
}

.instagram-photos>a>img {
    height: 22vw;
    width: 22vw;
    margin: 5px;
    object-fit: cover;
}

.home>p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.email-input {
    display: inline-block;
    width: 350px;
    height: 45px;
    padding: 15px;
    border: none;
    outline: none;
    position: relative;
    margin-bottom: 50px;
}

.sub-button, .addProduct>button {
    width: 150px;
    height: 45px;
    background-color: rgb(32, 37, 75);
    border: none;
    outline: none;
    color: white;
    position: relative;
}

/* ----------------------------------------------------------- */
.contact-form {
    width: 70vw;
    max-width: 500px;
    height: 450px;
    margin: auto;
    margin-top: 10px;
}

.register-form>input, .contact-form>input, .inputImgLink>input, .productDetails>input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    height: 50px;
}

.register-form>* {
    margin-bottom: 10px;
}

.contact-form>h4, .register-form>h4 {
    color: red;
}

.register-form {
    width: 60vw;
    max-width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 60px;
}

.login_header, .register_header{
    text-align: center;
    color: black;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: xx-large;
}

.sign_button{
    margin: auto;
    margin-bottom: 30px;
    width: 130px;
    height: 40px;
    border: none;
    background-color: rgb(32, 37, 75);
    color: white;
}

.contact-form>p, .register-form>p {
    text-align: center;
}

/* ---------------------------------------------------------- */

.product_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* ---------------------------------------------------------- */

.productPage>div:nth-child(1) {
    width: 50vw;
}

#detail1 {
    height: 350px;
}

.primaryImage {
    width: 48.6vw;
    height: 50vw;
    object-fit: cover;
}

.additionalImages {
    width: 100%;
    height: 62vw;
    object-fit: cover;
    margin-top: 0.6vw;
    margin-right: 0.6vw;
}

#name1 {
    font-size: 25px;
}

#price1 {
    font-size: 20px;
    width: auto;
}

.addToCart {
    height: 35px;
    border: none;
    background-color: rgb(32, 37, 75);
    color: white;
}

#saveChanges {
    display: none;
}

.productDescription{
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    width: 100%;
    height: calc(1000px - 20vw);
    justify-content: space-between;
}

.productDescription > *, .productDescription > div > * {
    border: none;
    outline: none;
}

@media only screen and (min-width: 1000px) {
    .additionalImages {
        width: 48%;
        height: 42vw;
    }
    .primaryImage {
        margin-right: 1.5vw !important;
    }
}

.productPage {
    display: flex;
    width: 85vw;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .productPage {
        display: flex;
        flex-direction: column;
    }

    .productPage>div:nth-child(1) {
        display: flex;
        gap: 5px;
        height: 100vw;
        width: 88vw !important;
        overflow-x: visible;
        overflow-y: hidden !important;
    }

    .productPage>div:nth-child(1)>img {
        margin: 0;
        width: 90vw !important;
        height: 110vw;
    }

    .addProduct>div {
        flex-direction: column-reverse;
        height: 1000px;
        align-items: center;
        justify-content: space-between;
    }

    .productDetails {
        height: 400px;
        width: 60vw !important;
        min-width: 250px;
    }

    .productDetails>textarea {
        margin-top: 20px !important;
    }

    .inputImgLink {
        height: 400px;
        width: 60vw !important;
    }
}

/* ---------------------------------------------------------- */
.addProduct>div {
    display: flex;
    min-height: 400px;
    justify-content: space-around;
}

.inputImgLink {
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 250px;
    justify-content: space-between;
}

.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
}

.addProduct>button {
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 50px 0 20px 0;
}

#warnings {
    text-align: center;
    margin-top: 30px;
}

#updateWarnings {
    text-align: center;
    margin-top: 10px;
}

/*--------------------------------------------------------------*/

.logout_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.logout_button {
    margin-top: 100px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: red;
}

/* ------------------------------------------ */

.grid-container {
    display: grid;
    grid-template-columns: 35vw 80px 145px auto;
    column-gap: 3vw;
    row-gap: 5px;
    padding: 5px;
    margin: 0 7vw 0 7vw;
    font-size: 13px;
  }
  
  .grid-container > div {
    padding: 20px 0;
  }
  
  .item1 {
    font-size: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0 !important;
  }

  .item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: end;
    font-size: 16px;
  }

  .item3 {
    text-align: start;
    overflow: hidden;
  }

  .item4 {
    text-align: end;
    overflow: hidden;
  }

  .item5 {
    text-align: start;
    overflow: hidden;
  }

  .item6 {
    text-align: end;
    overflow: hidden;
  }

/* ------------------------------------------ */

.chekOutButton{
    width: 300px;
    height: 40px;
    border: none;
    background-color: rgb(32, 37, 75);
    color: white;
}