@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&display=swap');

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.homeWallpaper1 {
    margin-right: 10px;
}

.homeWallpaper1, .homeWallpaper2 {
    height: 1000px;
    width: 47vw;
    min-width: 300px;
    object-fit: cover;
}

@media only screen and (max-width: 610px) {
    .homeWallpaper1, .homeWallpaper2 {
        height: 400px;
        width: 94.5vw;
        margin: 0;
    }

    .homeWallpaperContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.homeWallpaper3 {
    height: 730px;
    width: 94.5vw;
    object-fit: cover;
    margin-top: 30px;
}

.advantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.advantages>div>img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-bottom: 30px;
}

.advantages>div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
    width: 330px;
    text-align: center;
}

.home>a {
    margin-bottom: 40px;
    text-decoration: none;
}

.instagram-photos>a>img {
    height: 22vw;
    width: 22vw;
    margin: 5px;
    object-fit: cover;
}

.home>p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.email-input {
    display: inline-block;
    width: 350px;
    height: 45px;
    padding: 15px;
    border: none;
    outline: none;
    position: relative;
    margin-bottom: 50px;
}

.sub-button, .addProduct>button {
    width: 150px;
    height: 45px;
    background-color: rgb(32, 37, 75);
    border: none;
    outline: none;
    color: white;
    position: relative;
}

/* ---------------------------------------------------------- */

#searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #fff;
}

.clear_search_icon {
    transform: scale(1);
    transition-duration: 300ms;
}

.clear_search_icon:hover {
    transform: scale(1.3);
    transition-duration: 300ms;
}

.product_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* -----------------------------PRODUCT----------------------------- */

.productPage>div:nth-child(1) {
    width: 50vw;
}

.primaryImage {
    width: 48.6vw;
    height: 50vw;
    object-fit: cover;
}

.additionalImages {
    width: 100%;
    height: 62vw;
    object-fit: cover;
    margin-top: 0.6vw;
    margin-right: 0.6vw;
}

#name1 {
    font-size: 25px;
}

#price1 {
    font-size: 20px;
    width: auto;
}

.addToCart {
    height: 35px;
    border: none;
    background-color: rgb(32, 37, 75);
    color: white;
}

.addToCart:nth-of-type(3) {
    background-color: black;
    color: red;
}

.productDescription {
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.productDescription>*, .productDescription>div>* {
    border: none;
    outline: none;
    margin-bottom: 30px;
}

@media only screen and (min-width: 1000px) {
    .additionalImages {
        width: 48%;
        height: 42vw;
    }

    .primaryImage {
        margin-right: 1.5vw !important;
    }
}

.productPage {
    display: flex;
    width: 85vw;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .productPage {
        display: flex;
        flex-direction: column;
    }

    .productPage>div:nth-child(1) {
        display: flex;
        gap: 5px;
        height: 100vw;
        width: 88vw !important;
        overflow-x: visible;
        overflow-y: hidden !important;
    }

    .productPage>div:nth-child(1)>img {
        margin: 0;
        width: 90vw !important;
        height: 110vw;
    }

    .addProduct>div {
        flex-direction: column-reverse;
        height: 1000px;
        align-items: center;
        justify-content: space-between;
    }

    .productDetails {
        height: 400px;
        width: 60vw !important;
        min-width: 250px;
    }

    .productDetails>textarea {
        margin-top: 20px !important;
    }

    .inputImgLink {
        height: 400px;
        width: 60vw !important;
    }
}

/* ----------------------------ADD PRODUCT------------------------------ */
.addProduct>div {
    display: flex;
    min-height: 400px;
    justify-content: space-around;
}

.inputImgLink {
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 250px;
    justify-content: space-between;
}

.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
}

.productDetails>textarea {
    border: 2px solid rgb(118, 118, 118);
    height: 13em;
}

.addProduct>button {
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 50px 0 20px 0;
}

.addProduct>span {
    display: block;
    text-align: center;
}

p5:not(#success) {
    color: red;
    font-size: small;
    font-weight: bold;
    display: block;
    visibility: hidden;
}

#success {
    text-align: center;
    margin-top: 30px;
    color: green;
    display: block;
}

#updateWarnings {
    text-align: center;
    margin-top: 10px;
}

/* ---------------------CART--------------------- */

.grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: 35vw 80px 145px auto;
    column-gap: 3vw;
    row-gap: 5px;
    width: 100%;
    font-size: 13px;
}

.grid-container>div {
    padding: 20px 0;
}

.item1 {
    font-size: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0 !important;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: end;
    font-size: 16px;
}

.item3 {
    text-align: start;
    overflow: hidden;
}

.item4 {
    text-align: end;
    overflow: hidden;
}

.item5 {
    text-align: start;
    overflow: hidden;
}

.item6 {
    text-align: end;
    overflow: hidden;
}

.checkOutButton {
    width: 300px;
    height: 40px;
    border: none;
    background-color: rgb(32, 37, 75);
    color: white;
}

.checkOutContainer {
    text-align: right;
    margin-top: 50px;
}

.checkOutContainer>span {
    display: inline;
}

.checkOutContainer>p {
    font-size: 15px;
    margin-top: 20px;
}

.checkOutContainer>span>p {
    margin-left: 15px;
    display: inline;
    font-size: 20px;
}

.cartEmptyContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 252px;
}

.itemsContainer {
    border: 2px groove;
    border-left: none;
    border-right: none;
}


@media only screen and (max-width: 740px) {
    .item6 {
        display: none;
    }

    .grid-container {
        grid-template-columns: 35vw 80px auto !important;
        justify-content: space-between;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item2 {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

@media only screen and (max-width: 540px) {
    .checkOutContainer {
        text-align: center;
        margin-Right: 0;
    }

    .item5 {
        display: none;
    }
}

/* ------------------------------------------ */